<form method="POST">
    <div class="form-floating">
        <textarea class="form-control" name="title" placeholder="Leave a comment here"
            id="title_texarea">{{title}}</textarea>
        <label for="title_texarea">Title</label>
    </div>
    <div class="form-floating">
        <textarea class="form-control" name="content" placeholder="place a content here" id="content_textarea"
            style="height: 100px">{{content}}</textarea>
        <label for="content_textarea">Content</label>
    </div>
    <button type="submit">
        {% if submit_btn %}
            {{submit_btn}}
        {% else %}
            Create
        {% endif %}
    </button>
</form>
